.log-out {
    float: right;
    margin-right: 5em;
}

body{
    font-family: 'Trade Gothic', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
.menu input{
    font-family: FontAwesome, 'Trade Gothic', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

.round-base-search-box {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 37px;
}

.round-search-button {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 37px;
}
