.warning{
    color: red;
    font-weight: bold;
}

.timestamp{
    font-size: 11px;
}

span.errors ul{
    color: red;
    list-style-type: None;
}

.log {
    border: 0.5px solid #cccccc;
}

.log p {
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 0px;
}
