ul.checkbox-multiselect {
    list-style-type: none;
    margin-left: 0px;
    border-bottom: 1px solid #cacaca;
}

ul.checkbox-multiselect li {
    border: 1px solid #cacaca;
    border-bottom: none;
}

ul.checkbox-multiselect label {
    cursor: pointer;
}

ul.checkbox-multiselect li input[type=checkbox] {
    margin: 0.75rem 0.5rem 0.75rem 0.5rem;
}
