div.experience-display{
    margin-left: 3%;
}

div.experience-display span:not(.help){
    font-weight: bold;
}

.timestamp{
    font-size: 11px;
}

span.form-errors{
    color: red;
}

span.form-errors ul{
    list-style-type: None;
}

div.comment-author{
    font-size: 12px;
    padding-left: 20px;
}
