div.card-container{
    padding: 10px;
}
div.exp-card {
    border: solid 2px;
    border-radius: 25px;
    text-align: center;
    height: 20em;
    padding: 5px;
}

div.exp-card div{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div.exp-card a{
    color: white;
}

div.more{
    text-align: left;
}

div.more a{
    color: grey;
}

div.more a:hover{
    color: #0093B2;
}
