.experience-list , .experience-list td,
.experience-list th {
    border: solid black 1px;
    border-collapse: collapse;
}

.experience-list tr:not(:first-child):hover {
    background-color: lightyellow;
    cursor: pointer;
}
