{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/tablesorter_themes.css' %}"/>
            <link rel="stylesheet" href="{% static 'exdb/css/foundation_css/foundation.css' %}"/>
            <link rel="stylesheet" href="{% static 'exdb/css/foundation_css/app.css' %}"/>
        {% endblock %}
        {% block javascript %}
            <script type="text/javascript" src="{% static 'exdb/js/libraries/jquery-2.1.4.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/libraries/jquery.tablesorter.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/libraries/jquery.tablesorter.widgets.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/libraries/what-input.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/libraries/foundation.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/libraries/app.js' %}"></script>
            <script type="text/javascript" src="{% static 'exdb/js/base.js' %}"></script>
        {% endblock %}
        <title>{% block title %}Experience Database{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="top-bar clearfix main-menu menu-color">
                    <h2>{% trans 'Hello' %} {{ user.get_short_name }}</h2>
                    <span class="show-for-medium float-right">
                        <a href="{% url 'home' %}">{% trans "Home" %}</a>
                        <a href="{% url 'create_experience' %}">{% trans 'Create an experience' %}</a>
                        <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
                    </span>
                    <span class="show-for-small-only">
                        <button id="mobile-menu-toggle" class="float-right tiny secondary button">Menu</button>
                    </span>
                    <span class="show-for-small-only">
                        <ul id="mobile-menu" class="menu vertical hide">
                            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url 'create_experience' %}">{% trans 'Create an experience' %}</a></li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </span>
                </div>
            {% endblock %}
            <div class="clearfix body">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
