{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/conclusion.css' %}" />
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h1>Evaluation</h1>
        <h2>Experience: {{ experience.name }}</h2>
        <p><a href="{% url 'home' %}">Return Home</a></p>
        <span class="form-errors">{{ form.non_field_errors }}</span>
        <hr/>
        <div class="experience-display">
            <p>
                <span>{% trans "Author" %}:</span>
                {{ experience.author }}
            </p>
            <p>
                <span>{% trans "Planners" %}:</span>
                {% for p in experience.planners.all %}
                    {{ p }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                <span>{% trans "Credited" %}:</span>
                {% for org in experience.recognition.all %}
                    {{ org }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                <span>{% trans "Created" %}:</span>
                {{ experience.created_datetime }}
            </p>
            <p>
                <span>{% trans "Type/Subtype" %}:</span>
                {{ experience.type }}/{{ experience.subtype }}
            </p>
            <p>
                <span>{% trans "Start/End" %}:</span>
                {{ experience.start_datetime }}/{{ experience.end_datetime }}
            </p>
            <p>
                <span>{% trans "Description" %}:</span>
                {{ experience.description }}
            </p>
            <p>
                <span>{% trans "Goals" %}:</span>
                {{ experience.goals }}
            </p>
            <p>
                <span>{% trans "Keywords" %}:</span>
                {% for kwd in experience.keywords.all %}
                    {{ kwd }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    None
                {% endfor %}
            </p>
            {% if experience.guest %}
                <p>
                    <span>{% trans "Guest" %}:</span>
                    {{ experience.guest }}
                </p>
                <p>
                    <span>{% trans "Guest Office" %}:</span>
                    {{ experience.guest_office }}
                </p>
            {% endif %}
        </div>
        <hr/>
        <div>
            {% for field in form %}
                <p>{{ field.errors }}</p>
                <div>
                    {{ field.label }}
                    {{ field }}
                    <span class="help">{{ field.help_text }}</span>
                </div>
            {% endfor %}
        </div>
        <input type="submit" name="submit" />
        <hr/>
        <div>
            <h3>{% trans "Comments" %}</h3>
            {% for comment in experience.comment_set.all %}
                <div>
                    <div>{{ comment.message }}</div>
                    <div class="comment-author">-{{ comment.author }} said on {{ comment.timestamp }}</div>
                </div>
            {% empty %}
                <tr><td>{% trans "No comments" %}</td></tr>
            {% endfor %}
        </div>
{% endblock %}
