{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'exdb/css/create_experience.css' %}" rel="stylesheet">
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'exdb/js/experience_form.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}

    <div class="row">
        <form action="{% url "create_experience" %}" method="POST">
          {% csrf_token %}
          <fieldset class="fieldset">
            <div class="row">
                <div class="medium-6 medium-offset-1 columns">
                    <h4>Create An Experience</h4>
                </div>
              <div class="medium-4 columns end">
                  <input id="save_experience" type="submit" value="{% trans 'Save as draft' %}" name="save" class="button medium"/>
                  <input id="submit_experience" type="submit" value="{% trans 'Submit' %}" name="submit" class="button medium" />
              </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.name.label }}:
                        {{ form.name }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.type.label }}:
                        {{ form.type }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.sub_type.label }}:
                        {{ form.sub_type }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.description.label }}:
                        {{ form.description }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.goal.label }}:
                        {{ form.goal }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.planners.label }}:
                        {{ form.planners }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.start_datetime.label }}:
                        {{ form.start_datetime }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.end_datetime.label }}:
                        {{ form.end_datetime }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.recognition.label }}:
                        {{ form.recognition }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.next_approver.label }}:
                        {{ form.next_approver }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <label>
                        {{ form.guest.label }}:
                        {{ form.guest }}
                    </label>
                </div>
            </div>


        </fieldset>
        </form>
    </div>
{% endblock %}
