{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'exdb/css/create-experience.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="create-experience-div">
        <h1>{% trans 'Add Experience' %}</h1>
        <form action="{% url "create-experience" %}" method="POST">
            {% csrf_token %}
            <span class="form-errors">{{ form.non_field_errors }}</span>
            <table class="create-experience-table">
                {% for field in form %}
                    <tr>
                        <th>{{ field.label_tag }}</th>
                        <td>
                            <div class="field-error">{{ field.errors }}</div>
                            {{ field }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input id="save_experience" class="create-experience-save" type="submit" value="{% trans 'Save as draft' %}" name="save" />
            <input id="submit_experience" class="create-experience-save" type="submit" value="{% trans 'Submit' %}" name="submit" />
        </form>
    </div>
{% endblock %}
