{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'exdb/css/create_experience.css' %}" rel="stylesheet">
    <link href="{% static 'exdb/css/foundation_css/foundation-datepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'exdb/js/libraries/foundation-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'exdb/js/experience_form.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}

    <div class="row">
        <form action="{% url "create_experience" %}" method="POST">
          {% csrf_token %}
          <fieldset class="fieldset">
            <div class="row">
                <div class="medium-6 medium-offset-1 columns">
                    <h4>{% trans 'Create An Experience' %}</h4>
                    <span class="form-errors">{{ form.non_field_errors }}</span>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.name.errors }}</span>
                    <label>
                        {{ form.name.label }}:
                        {{ form.name }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.type.errors }}</span>
                    <label>
                        {{ form.type.label }}:
                        {{ form.type }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.sub_type.errors }}</span>
                    <label>
                        {{ form.sub_type.label }}:
                        {{ form.sub_type }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.description.errors }}</span>
                    <label>
                        {{ form.description.label }}:
                        {{ form.description }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.goal.errors }}</span>
                    <label>
                        {{ form.goal.label }}:
                        {{ form.goal }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.planners.errors }}</span>
                    <label>
                        {{ form.planners.label }}:
                        {{ form.planners }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.start_datetime.errors }}</span>
                    <label>
                        {{ form.start_datetime.label }}:
                        {{ form.start_datetime }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.end_datetime.errors }}</span>
                    <label>
                        {{ form.end_datetime.label }}:
                        {{ form.end_datetime }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.recognition.errors }}</span>
                    <label>
                        {{ form.recognition.label }}:
                        {{ form.recognition }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.next_approver.errors }}</span>
                    <label>
                        {{ form.next_approver.label }}:
                        {{ form.next_approver }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.guest.errors }}</span>
                    <label>
                        {{ form.guest.label }}:
                        {{ form.guest }}
                    </label>
                </div>
            </div>

            <div id="id_attendance" class="row ">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.attendance.errors }}</span>
                    <label>
                        {{ form.attendance.label }}:
                        {{ form.attendance }}
                    </label>
                </div>
            </div>

            <div id="id_conclusion" class="row ">
                <div class="large-9 large-centered columns">
                    <span class="field-error">{{ form.conclusion.errors }}</span>
                    <label>
                        {{ form.conclusion.label }}:
                        {{ form.conclusion }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns medium-offset-4">
                    <input id="save_experience" type="submit" value="{% trans 'Save as draft' %}" name="save" class="button medium"/>
                    <input id="submit_experience" type="submit" value="{% trans 'Submit' %}" name="submit" class="button medium" />
                </div>
            </div>

        </fieldset>
        </form>
    </div>
{% endblock %}
