{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/edit_experience.css' %}" />
    <link href="{% static 'exdb/css/foundation_css/foundation-datepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'exdb/js/experience_form.js' %}"></script>
    <script type="text/javascript" src="{% static 'exdb/js/libraries/foundation-datepicker.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}

    <div class="row">
        <div class="medium-9 columns">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="fieldset">

                    <div class="row">
                        <div class="medium-6 medium-offset-1 columns">
                            <h4>{% trans 'Edit Experience' %}</h4>
                            <span class="form-errors">{{ form.non_field_errors }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.name.errors }}</span>
                            <label>
                                {{ form.name.label }}:
                                {{ form.name }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.type.errors }}</span>
                            <label>
                                {{ form.type.label }}:
                                {{ form.type }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.sub_type.errors }}</span>
                            <label>
                                {{ form.sub_type.label }}:
                                {{ form.sub_type }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.description.errors }}</span>
                            <label>
                                {{ form.description.label }}:
                                {{ form.description }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.goal.errors }}</span>
                            <label>
                                {{ form.goal.label }}:
                                {{ form.goal }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.planners.errors }}</span>
                            <label>
                                {{ form.planners.label }}:
                                {{ form.planners }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.start_datetime.errors }}</span>
                            <label>
                                {{ form.start_datetime.label }}:
                                {{ form.start_datetime }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.end_datetime.errors }}</span>
                            <label>
                                {{ form.end_datetime.label }}:
                                {{ form.end_datetime }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.recognition.errors }}</span>
                            <label>
                                {{ form.recognition.label }}:
                                {{ form.recognition }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.next_approver.errors }}</span>
                            <label>
                                {{ form.next_approver.label }}:
                                {{ form.next_approver }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            <span class="field-error">{{ form.guest.errors }}</span>
                            <label>
                                {{ form.guest.label }}:
                                {{ form.guest }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-9 large-centered columns">
                            {% if object.status != 'ad' %}
                                <input type="submit" value="{% trans "Save Changes" %}" name="save" class="button medium"/>
                            {% endif %}
                            {% if object.status != 'pe' %}
                                <input
                                    type="submit"
                                    value=
                                        "{% if object.status != 'dr' %}
                                            {% trans "Re-Submit" %}
                                        {% else %}
                                            {% trans "Submit" %}
                                        {% endif %}"
                                        name="submit"
                                        class="button medium"
                                    />
                            {% endif %}
                            {% if object.status == 'dr' %}
                                <input type="submit" id="delete" value="{% trans 'Delete' %}" name="delete" class="button medium" />
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="medium-3 columns">
                <fieldset class="fieldset">
                    {% for comment in object.comment_set.all %}
                        <p>{{ comment.message }}<p>
                    {% empty %}
                        <p>{% trans 'No Comments' %}</p>
                    {% endfor %}
                </fieldset>
            </div>
        </form>
    </div>

{% endblock %}
