{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/edit_experience.css' %}" />
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'exdb/js/experience_form.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h1>{% trans "Edit Experience" %}</h1>
    <p><a href="{% url 'ra_home' %}">{% trans "Back to Home" %}</a></p>
    {% if experience.status == 'ad' %}
        <p class="warning">{% trans "Warning! Editing an approved experience will resubmit it for approval." %}</p>
    {% endif %}
    {% with object.edit_log.all.0 as last_edit %}
        {% if last_edit %}
            <p>Last edited: {{ last_edit.editor }} <span class="timestamp">{{ last_edit.timestamp }}</span></p>
        {% endif %}
    {% endwith %}
    <div class="errors">{{ form.non_field_errors }}</div>
    <div class="errors">{{ new_comment_form.non_field_errors }}</div>
    <hr />
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <p class="errors">{{ field.errors }}</p>
                {{ field.label_tag }}
                {{ field }}
                <span class="help">{{ field.help_text }}</span>
            </div>
        {% endfor %}
        <hr />
        {% if experience.status != 'ad' %}
            <input type="submit" value="{% trans "Save Changes" %}" name="save" />
        {% endif %}
        {% if experience.status != 'pe' %}
            <input
                type="submit"
                value=
                    {% if experience.status != 'dr' %}
                        {% trans "Re-Submit" %}
                    {% else %}
                        {% trans "Submit" %}
                    {% endif %}
                name="submit"
            />
        {% endif %}
        {% if object.status == 'dr' %}
            <input type="submit" id="delete" value={% trans "Delete" %} name="delete" />
        {% endif %}
        <div>
            <h3>{% trans "Comments" %}</h3>
            {% for comment in experience.comment_set.all %}
                <div>
                    <div>{{ comment.message }}</div>
                    <div class="comment-author">-{{ comment.author }} said on {{ comment.timestamp }}</div>
                </div>
            {% empty %}
                <tr><td>{% trans "No comments" %}</td></tr>
            {% endfor %}
        </div>
    </form>
{% endblock %}
