{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/experience_approval.css' %}" />
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h1>{% trans "Experience Approval" %}</h1>
        <p><a href="{% url 'hallstaff_dash' %}">{% trans "Return to Hall Staff Dashboard" %}</a></p>
        <div class="form-errors">{{ form.non_field_errors }}</div>
        <div class="form-errors">{{ comment_form.non_field_errors }}</div>
        <p>{% trans "Note: Set the 'Supervisor' field to the LLC approver if this experience needs LLC approval." %}</p>
        <hr/>
        <div class="experience-display">
            {% for field in form %}
                <p>{{ field.errors }}</p>
                <div>
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <hr/>
        <table>
            <tr><th>{% trans "Comments" %}</th></tr>
            {% for comment in comments %}
                <tr><td>{{ comment.message }}</td></tr>
            {% empty %}
                <tr><td>{% trans "No comments" %}</td></tr>
            {% endfor %}
        </table>
        <div>{% trans "Add Comment" %}:</div>
        <div class="form-errors">{{ comment_form.message.errors }}</div>
        <div>{{ comment_form.message.label }}{{ comment_form.message }}</div>
        <input type="submit" value={% trans "deny" %} name="deny" />
        <input type="submit" value={% trans "approve" %} name="approve" />
        <input type="submit" value={% trans "delete" %} name="delete" />
    </form>
{% endblock %}
