{% extends "exdb/base.html" %}
{% load i18n %}
{% load exdbtags %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/home.css' %}"/>
{% endblock %}
{% block content %}
    {{ block.super }}
    <p><a href="{% url 'create_experience' %}">{% trans 'Create an experience' %}</a></p>
    <hr class="break" />
    <div class="experience-panel">
        {% for status, experiences in experience_dict.items %}
            {% if experiences %}
                <div class='experience-div'>
                    <h1 class="status">{{ status }}</h1>
                    {% for ex in experiences %}
                        <div class="experience">
                            <a href="{% experience_url ex user %}">
                                <div class="experience-name">{{ ex.name }}</div>
                                <div>
                                    <span class="experience-times">{% trans 'Start time' %}: {{ ex.start_datetime }}</span>
                                    <span class="experience-times">{% trans 'End time' %}: {{ ex.end_datetime }}</span>
                                </div>
                                <div class="experience-footer">
                                    {% trans 'Created on' %}: {{ ex.created_datetime }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <hr class="break" />
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="week-ahead">
        <h1 class="status">{% trans 'Upcoming' %}</h1>
        {% if upcoming %}
            <div class='experience-div'>
                {% for experience in upcoming %}
                    <div class="experience"><a href="{% experience_url experience user %}">
                        <p>{% trans 'Name' %}: {{ experience.name }}</p>
                        <p>{% trans 'Start Time' %}: {{ experience.start_datetime }}</p>
                    </a></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
