{% extends "exdb/base.html" %}
{% load i18n %}
{% load exdbtags %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/home.css' %}"/>
{% endblock %}
{% block content %}
    {{ block.super }}
        <div class="row">
            {% if experiences|length > 0 %}
                {% for status, experiences in experience_dict.items %}
                    {% if experiences %}
                        <div class="large-4 columns card-container end">
                            <div class="exp-card {{ status|cut:" " }}-foreground">
                                <h3>{{ status }}</h3>
                                {% for experience in experiences %}
                                    <a href="{% experience_url experience user %}">
                                        <div class="{{ status|cut:" " }}-background">
                                            {{ experience.name }} {{ experience.start_datetime|date:"DATE_FORMAT" }}
                                        </div>
                                    </a>
                                {% endfor %}
                                <div class="more">
                                {% if status == 'Upcoming' %}
                                    <a href="{% url 'upcoming_list'%}">
                                {% elif status == 'Needs Evaluation' %}
                                    <a href="{% url 'eval_list'%}">
                                {% else %}
                                    <a href="{% url 'status_list' status|slugify %}">
                                {% endif %}
                                {% blocktrans %}View All {{ status }} Experiences{% endblocktrans %}
                                </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="small-12 small-centered columns">
                    <div class="row">
                        <div class="small-12 small-centered columns">
                            <h1 class="text-center watermark">{% trans 'There is nothing here yet' %}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-centered columns">
                            <h4 class="text-center watermark">{% trans 'Create an experience to get started' %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-10 large-centered columns">
                            <p class="text-center">
                                <i class="fa circle" aria-hidden="true">&#xf040;</i>
                                <i class="fa circle" aria-hidden="true">&#xf141;</i>
                                <i class="fa circle" aria-hidden="true">&#xf00c;</i>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}
