{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/ra-home.css' %}"/>
{% endblock %}
{% block content %}
{{ block.super }}

<h2>{% trans 'Hello' %} {{ ra }}</h2>
<hr /><hr />
{% regroup experiences by get_status_display as ex_list %}

{% for ex in ex_list %}
    <h2>{{ ex.grouper }}</h2>
    <table class="experience-list">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Created on' %}</th>
        </tr>
        {% for e in ex.list %}
            <tr>
                <td>{{ e.name }}</td>
                <td>{% if e.description %}{{ e.description }}{% else %}---------{% endif %}</td>
                <td>{{ e.created_datetime }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr />
{% endfor %}
{% endblock %}
