{% extends "exdb/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/ra_home.css' %}"/>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>{% trans 'Hello' %} {{ ra }}</h2>
    <p><a href={% url 'create-experience' %}>{% trans 'Create an experience' %}</a></p>
    <hr class="break" />
    <div class="experience-panel">
        {% for status, experiences in experience_dict.items %}
            {% if experiences|length %}
                <h1 class="status">{{ status }}</h1>
                {% for ex in experiences %}
                    <div class="experience">
                        <div class="experience-name">{{ ex.name }}</div>
                        <div>
                            <span class="experience-times">{% trans 'Start time' %}: {{ ex.start_datetime }}</span>
                            <span class="experience-times">{% trans 'End time' %}: {{ ex.end_datetime }}</span>
                        </div>
                        <div class="description">
                            <fieldset>
                                <legend>{% trans 'Description' %}</legend>
                                <div class="description-text">{{ ex.description }}</div>
                            </fieldset>
                        </div>
                        <div class="experience-footer">
                            {% trans 'Created on' %}: {{ ex.created_datetime }}
                        </div>
                    </div>
                {% endfor %}
                <hr class="break" />
            {% endif %}
        {% endfor %}
    </div>
    <div class="week-ahead">
        <h1 class="status">{% trans 'Week Ahead' %}</h1>
        {% if week_ahead|length %}
            {% for experience in week_ahead %}
                <div class="experience">
                    <p>{% trans 'Name' %}: {{ experience.name }}</p>
                    <p>{% trans 'Start Time' %}: {{ experience.start_datetime }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
