{% extends "exdb/base.html" %}
{% load i18n %}
{% load exdbtags %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <form id="add-semester-form" method="POST">
            <div class="row">
                <h3>{% trans 'Add Semester' %}</h3>
                <div class="medium-6 columns">
                    <label for="start-datetime">{% trans 'Start Date' %}</label>
                    <input name="start-datetime" type="date" placeholder="DD/MM/YYYY"/>
                </div>
                <div class="medium-6 columns">
                    <label for="end-datetime">{% trans 'End Date' %}</label>
                    <input name="end-datetime" type="date" placeholder="DD/MM/YYYY"/>
                </div>
                <input class="button" type="submit" value="Add Semester"/>
            </div>
        </form>
        <hr />
        <form id="add-requirement-form" method="POST">
            <div class="row">
                <h3>{% trans 'Add Requirement' %}</h3>
                <div class="medium-5 columns">
                    <label for="description">{% trans 'Description' %}</label>
                    <input name="description" type="text"/>
                </div>
                <div class="medium-5 columns">
                    <label for="subtype">{% trans 'Subtype' %}</label>
                    <select name="affiliation">
                        {% for sub in subtypes %}
                            <option value="{{ sub.pk }}">{{ sub }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="medium-2 columns">
                    <label for="total-needed">{% trans 'Total Needed' %}</label>
                    <input name="total-needed" type="number" placeholder="0" min="0"/>
                </div>
            </div>
            <div class="row">
                <div class="medium-3 columns">
                    <label for="start-datetime">{% trans 'Start Date' %}</label>
                    <input name="start-datetime" type="date" placeholder="DD/MM/YYYY"/>
                </div>
                <div class="medium-3 columns">
                    <label for="end-datetime">{% trans 'End Date' %}</label>
                    <input name="end-datetime" type="date" placeholder="DD/MM/YYYY"/>
                </div>
                <div class="medium-3 columns">
                    <label for="semester">{% trans 'Semester' %}</label>
                    <select name="semester">
                        {% for semester in semesters %}
                            <option value="{{ semester.pk }}">{{ semester }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="medium-3 columns">
                    <label for="affiliation">{% trans 'Affiliation' %}</label>
                    <select name="affiliation" multiple="multiple">
                        {% for affiliation in affiliations %}
                            <option value="{{ affiliation.pk }}">{{ affiliation }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="medium-10 columns">
                    <input class="button" type="submit" value="Add Requirement"/>
                </div>
            </div>
        </form>
    </div>

    <hr />

    <div class="row">
        <form>
            <fieldset>
                <legend>{% trans 'Pick Semester and Affiliation' %}</legend>
                <select name="semester">
                    {% for semester in semesters %}
                        <option value="{{ semester.pk }}">{{ semester }}</option>
                    {% endfor %}
                </select>

                <select name="affiliation">
                    {% for affiliation in affiliations %}
                        <option value="{{ affiliation.pk }}">{{ affiliation }}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </form>
    </div>

    <div class="row">
        <h2>{% trans 'Requirements' %}:</h2>
        <table>
            <tr>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Subtype' %}</th>
                <th>{% trans 'Start' %}</th>
                <th>{% trans 'End' %}</th>
                <th>{% trans 'Total Required' %}</th>
            </tr>
            {% for requirement in requirements %}
                <tr>
                    <td>{{ requirement.description }}</td>
                    <td>{{ requirement.subtype }}</td>
                    <td>{{ requirement.start_datetime }}</td>
                    <td>{{ requirement.end_datetime }}</td>
                    <td>{{ requirement.total_needed }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
