{% extends "exdb/base.html" %}
{% load i18n %}
{% load exdbtags %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'exdb/css/search.css' %}" />
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'exdb/js/search.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}

    <div class="row">
        <form method="post">
            <button type="submit" class="button"  name="export_csv">Export to CSV</button>
            {% csrf_token %}
        </form>
        <div id="no-experience-warning" class="hide">{% trans "No experiences to export!" %}</div>
        {% if experiences %}
            <table id="search-results" class="tablesorter responsive">
                <thead>
                    <tr>
                        <th data-placeholder="&#xf002;">{% trans "Experience Name" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Planners" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Type" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Subtypes" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Building" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Keywords" %}</th>
                        <th data-placeholder="&#xf002;">{% trans "Status" %}</th>
                        <th data-placeholder="&#xf002;" data-sorter="shortDate">{% trans "Start Time" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exp in experiences %}
                        <tr class="link" data-url="{% experience_url exp user %}" data-pk="{{ exp.pk }}">
                            <td class="exp-name">{{ exp.name }}</td>
                            <td class="planners">
                                {% for planner in exp.planners.all %}
                                    {{ planner }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="type">{{ exp.type }}</td>
                            <td class="subtype">
                                {% for subtype in exp.subtypes.all %}
                                    {{ subtype }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="recognition">
                                {% for rec in exp.recognition.all %}
                                    {{ rec.affiliation }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="keywords">
                                {% for keyword in exp.keywords.all %}
                                    {{ keyword }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="status">{{ exp.get_status_display }}</td>
                            <td class="start-time">{{ exp.start_datetime|date:'N j, Y g:i A' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if is_paginated%}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">

                    {% if page_obj.has_previous %}
                        <li class="pagination-previous"><a href="?search={{search_query}}&page={{page_obj.previous_page_number}}&per_page={{page_obj.paginator.per_page}}" aria-label="Next page">Previous</a></li>
                    {% endif %}

                    {% if page_obj.number != 1 %}
                        <li><a href="?search={{search_query}}&page=1&per_page={{page_obj.paginator.per_page}}" aria-label="page 1">1</a></li>
                    {% endif %}


                    
                         <li class="current"><span class="show-for-sr">You're on page</span> {{page_obj.number}}</li>


                    {% if page_obj.number != page_obj.paginator.num_pages %}
                         <li ><a href="?search={{search_query}}&page={{page_obj.paginator.num_pages}}&per_page={{page_obj.paginator.per_page}}" aria-label="Next page"> {{page_obj.paginator.num_pages}}</a></li>
                     {% endif %}
                    {% if page_obj.has_next %}
                         <li class="pagination-next"><a href="?search={{search_query}}&page={{page_obj.next_page_number}}&per_page={{page_obj.paginator.per_page}}" aria-label="Next page">Next</a></li>
                    {% endif %}
                </ul>
              </nav>
              
            
            {% endif %}
            <label>Showing {{page_obj.paginator.per_page}} of {{page_obj.paginator.count}} items
                <select onchange="
                self.location=`?search={{search_query}}&page=1&per_page=${this.options[this.selectedIndex].value}`">
                {% with '10 20 50 100 200' as list %}
                <option value={{page_obj.paginator.per_page}}  selected>{{page_obj.paginator.per_page}}</option>

                    {% for i in list.split %}
                        <option value={{i}} {% if page_obj.paginator.per_page == i %}selected="true" {% endif %} >{{i}}</option>
                    {% endfor %}
                {% endwith %}
                </select>
              </label>
        
        {% else %}
            <p>{% trans "Your search returned no experiences" %}</p>
        {% endif %}
    </div>

{% endblock %}
